# Server
PORT=3000
NODE_ENV=development

# Database (SQLite для простоты, можно заменить на postgresql)
DATABASE_URL="file:./prisma/dev.db"

# JWT
JWT_SECRET="change-this-in-production-min-32-chars"
JWT_EXPIRES_IN="24h"

# Prisma
# Для PostgreSQL: DATABASE_URL="postgresql://user:pass@localhost:5432/db?schema=public"